/.history
/Jayttle_Software
/config.json
/Jayttle_for_use
/avr_yesterday_data.txt
/ggkx_yesterday_data.txt
/met_yesterday_data.txt
/tiltmeter_yesterday_data.txt
/output_images
/Jayttle_for_work
/Jayttle_for_study